body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#msg {
   background-color: #f9f9f9; 
   border: 1px solid #cccccc;
   border-radius: 5px;
   padding: 5px;
   margin: 10px 5px 5px 0;
   overflow:auto;
   height: 2%; 
   width: 65%;
}