@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>This is a simple web chat created via ASP.NET SignalR :)</p>
        <p>All code could be found on this <a href="#github">LINK</a></p>
    </div>
</div>