@{
    ViewBag.Title = "Web Chat";  
}
<h2>@ViewBag.Title</h2>
<div class="row-fluid">
    <div>
        <input type="text" id="message" placeholder="Your message here" />
        <div></div>
        <button id="send" class="btn btn-info">Send</button>
    </div>
    <div>Online: <span id="usersCount"></span></div>
    <div id="messages"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $.connection.hub.start();

        var chat = $.connection.chat;

        $('#send').click(function () {
            var message = $('#message').val();
            $('#message').val("");
            chat.server.sendMessage(message);
        });

        $(document).bind("keypress", function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                var message = $('#message').val();
                $('#message').val("");
                chat.server.sendMessage(message);
            }
        });

        chat.client.addMessage = addMessage;
        chat.client.userConnection = userConnection;
        chat.client.showOnlineUsers = showOnlineUsers;
    });

    function addMessage(msg) {
        $('#messages').prepend("<p id=\"msg\">" + msg + "</p>");
    }

    function userConnection(msg) {
        $('#messages').prepend("<p id=\"userConnection\">" + msg + "</p>");
    }

    function showOnlineUsers(count) {
        $('#usersCount').text(count);
    }
</script>