@{
    ViewBag.Title = "Web Chat";  
}
<h2>@ViewBag.Title</h2>
<div class="row-fluid">
    <div>
        <input type="text" id="message" placeholder="Your message here" />
        <div></div>
        <button id="send" class="btn">Send</button>
    </div>
    <div id="messages"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $.connection.hub.start();

        var chat = $.connection.chat;

        $('#send').click(function () {
            var message = $('#message').val();
            chat.server.sendMessage(message);
        });
        chat.client.addMessage = addMessage;
    });

    function addMessage(msg) {
        $('#messages').prepend("<p id=\"msg\">" + msg + "</p>");
    }
</script>